body {
    padding-top: 70px;
    padding-bottom: 120px;
}

.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: 9px;
}

.badge-notify{
    background: #0f48cf;
    position:relative;
    top: -12px;
    left: -10px;
    font-size: 10px;
}